@charset "UTF-8";

#container.construction {
    padding-top:40px ;
}

.mb-40 {
    margin-bottom: 40px;
}
.ms-auto {
    margin-left: auto;
}
.mt-40 {
    margin-top: 40px;
}
.mt-70 {
    margin-top: 70px !important;
}

/* --------------- 서브 공통 */
.sub_page_ttl {
    margin-bottom:36px ;
}
.sub_page_ttl .ttl {
    font-size: 42px;
    font-weight: 600;
}
.sub_page_ttl .sm_ttl {
    font-size: 28px;
    font-weight: 700;
}



.snb {
    display: flex;
    align-items: center;

}
.snb li + li {
    margin-left: 10px;
}
.snb li a {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    font-size: 18px;
    color: #454545;
    padding: 0 22px;
    border-radius: 50px;
    line-height:50px ;
}
.snb li.on a {
    background: #252525;
    color: #fff;
}
.snb li a span {
    font-size: 16px;
    color: #999999;
    margin-left: 4px;
}
.filter_sel {
    position: relative;
}
.filter_sel .now_btn {
    display: flex;
    align-items: center;
    line-height:48px ;
    padding: 0 15px 0 12px;
    min-width: 120px;
    text-align: left;
    border-radius: 10px;
    font-size: 18px;
     
}
.filter_sel .now_btn  i {
    display: block;
    margin-left: auto;
    width: 12px; height: 8px;
    background: no-repeat center / cover;
    background-image: url('../img/btn/filter_down.png');
    transition: all 0.3s;
}
.filter_sel.on .now_btn  i {
    transform: rotate(180deg);
}
.filter_sel ul {
    position: absolute;
    top: calc(100% + 10px); left: 0;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    z-index: 99;
    background: #fff;
    width: 100%;
    padding: 7px 0;
    display: none;
}
.filter_sel.on ul {
    display: block;
}
.filter_sel ul li {
    padding: 0 10px;
    display: flex;
    align-items: center;
    line-height: 2.35294;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
}
.filter_sel ul li.on {
    color:#40b249 ;
}
.filter_sel ul li.on i {
    display: block;
    width: 18px; height: 18px;
    background: no-repeat center / cover;
    background-image: url(../img/btn/filter_check.png);
    margin-left: auto;
}


.filter_sel.disabled .now_btn{
    background: #fafafa;
}
.filter_sel.disabled .now_btn * {
    color:#bbbbbb ;
}
.filter_sel.disabled .now_btn i {
    background-image: url('../img/btn/filter_down_dis.png');
}
/* --------------- 태그박스 슬라이드 */
.tag_sec {
    margin-bottom: 80px;
}
.tag_slider {
    margin-left: -5px;
}
.tag_slider .swiper-slide {
    width: auto !important;
    padding: 0 5px;
}

.tag_slider .swiper-slide a {
    font-size:18px ;
    font-weight: 500;
    line-height: 48px;
    border: 1px solid #dbdbdb;
    border-radius: 10px ;
    padding:0 30px ;
    display: block;
}
.tag_slider .swiper-slide a:hover {
    border-color:#40b249 ;
    background: #e8f5e9;
    color: #40b249;
}

.tag_slider .sw_btn {
    width: 40px; height: 50px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 10;
    background: linear-gradient(90deg,#fff 0,hsla(0,0%,100%,0));
}
.tag_slider .tag-prev {

}
.tag_slider .tag-next {
    background: linear-gradient(-90deg,#fff 0,hsla(0,0%,100%,0));
    right: 0;
}
.tag_slider .sw_btn button {
    width: 100%; height: 100%;
    background: no-repeat center;
    border: none;
}
.tag_slider .tag-next button{
    background-position: center right;
    background-image: url(../img/btn/tag_next.png);
}
.tag_slider .tag-prev button{
    background-position: center left;
    background-image: url(../img/btn/tag_prev.png);
}

.tag_slider .sw_btn.swiper-button-disabled::after {
    display: none;
}
.tag_slider .sw_btn.swiper-button-disabled ,
.tag_slider .sw_btn.swiper-button-disabled button {
    background: none;
}

/*  */


/* ------------------- 갤러리 뿌리기 */

.grid-sizer, 
.grid-item { width: calc(33.333% - 20px ); }

.pop_grid-sizer,
.pop_grid-item {width: calc(20% - 24px ); }

.pop_grid-item,
.grid-item {
    margin-bottom:30px;
    border-radius: 6px; 
    overflow:hidden;
    position: relative;
    cursor: pointer;
}
.pop_grid-item img,
.grid-item img {
    display: block;
    min-width:100%; 
    max-width: 100%; 
    border-radius: 6px; 
}
.pop_grid-item .hover_box,
.grid-item .hover_box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%; height: 100%;

    padding: 20px;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}
.pop_grid-item .hover_box .bg,
.grid-item .hover_box .bg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.4);
    width: 100%; height: 100%;
    z-index: 1;
    border-radius: 6px;
    box-sizing: border-box;
}


.pop_grid-item:hover .hover_box,
.grid-item:hover .hover_box  {
    z-index: 10;
    opacity: 1;
}
.pop_grid-item .hover_box .btn_wrap,
.grid-item .hover_box .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 80;
    /* pointer-events: none; */
    position: absolute;
    top: 20px; right: 20px;
}
.pop_grid-item .hover_box .btn_wrap button,
.grid-item .hover_box .btn_wrap button {
    display: block;
    width: 40px; height: 39px;
    background: no-repeat center / 40px auto;
    border: none;
    /* pointer-events: none; */
}
.pop_grid-item .hover_box .btn_wrap button + button,
.grid-item .hover_box .btn_wrap button + button {
    margin-left: 10px;
}
.pop_grid-item .hover_box .btn_wrap button.save_btn,
.grid-item .hover_box .btn_wrap button.save_btn {
    background-image: url(../img/btn/gallery_save_btn.png);
}
.pop_grid-item .hover_box .btn_wrap button.wish_btn,
.grid-item .hover_box .btn_wrap button.wish_btn {
    background-image: url(../img/btn/gallery_wish_btn.png);
}
.pop_grid-item .hover_box .user_profile,
.grid-item .hover_box .user_profile {
    display: flex;
    align-items: center;
    margin-top: auto;
    z-index: 80;
    /* pointer-events: none; */
    position: absolute;
    bottom: 20px; left: 20px;
}
.pop_grid-item .hover_box .user_profile .user_img,
.grid-item .hover_box .user_profile .user_img {
    display: block;
    width: 40px ; height: 40px;
    background: no-repeat center / cover;
    border-radius: 50%;
    margin-right: 10px;
}
.pop_grid-item .hover_box .user_profile .user_id,
.grid-item .hover_box .user_profile .user_id {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}





/* ------------------------------ 검색 페이지 */
#container.search_page {
    padding-top: 0;
}
.search_sec {
    padding: 210px 0 130px;
    max-height: 550px;
    background: no-repeat center / cover;
    background-image: url(../img/sub/search_bg.jpg);
}
.search_sec .s_ttl {
    font-size:42px ;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}
.search_sec .search_form {
    max-width: 600px;
    width: 100%;
    margin:42px auto 0 ;
    position: relative;
}

.search_sec .search_form .search_row {
    position: relative;
}
.search_sec .search_form .search_row input {
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-right: 60px;
}
.search_sec .search_form .search_row.open input {
    border-radius: 10px 10px 0 0 ;
}
.search_sec .search_form .search_row button {
    width: 60px; height: 50px;
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    background: no-repeat center;
    background-image: url(../img/btn/search_page_btnb.png);
    border: none;
    
}
.search_sec .search_form .search_down {
    position: absolute;
    top: 100%; left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 0 0 10px 10px ;
    border: 1px solid #dbdbdb;
    padding: 40px 20px;
    z-index: 90;
    display: none;
}
.search_sec .search_form .search_down.open {
    display: block;
}
.search_sec .search_form .search_down .label {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
}
.search_sec .search_form .search_down .tag_wrap {
    display: flex;
    flex-wrap: wrap;

}

.search_sec .search_form .search_down .tag_wrap a {
    border: 1px solid #dbdbdb;
    background:#f9f9f9 ;
    display: flex;
    padding:0 12px ;
    line-height: 38px;
    border-radius: 4px;
    color: #757575;
    margin-right: 10px;
    margin-bottom:10px ;
}

.search_sec .search_form .search_down li.gallery {
    margin: 30px 0 40px;
}
.search_sec .search_form .search_down .recomed_gallery {
    display: flex;
    flex-wrap: wrap;

}
.search_sec .search_form .search_down .recomed_gallery li {
    width: 50%;

}
.search_sec .search_form .search_down .recomed_gallery li:nth-child(n+3) {
    margin-top:20px ;
}
.search_sec .search_form .search_down .recomed_gallery li a {
    display: flex;
    align-content: center;
    height: 100%;
}
.search_sec .search_form .search_down .recomed_gallery .img {
    display: flex;
    flex-wrap: wrap;
    width: 66px;
    height:  66px;;
    border-radius: 10px;
    overflow: hidden;
    flex: 0 0 auto;
}
.search_sec .search_form .search_down .recomed_gallery .img img:first-child {
    display: block;
    width: 100%; height:38px ;
    object-fit: cover;
    margin-bottom: 2px;
}

.search_sec .search_form .search_down .recomed_gallery .img img:nth-child(2) {
    display: block;
    width: calc(50% - 1px); height:26px ;
    object-fit: cover;
    margin-right: 2px;
}
.search_sec .search_form .search_down .recomed_gallery .img img:nth-child(3) {
    display: block;
    width: calc(50% - 1px); height:26px ;
    object-fit: cover;
}
.search_sec .search_form .search_down .recomed_gallery li:hover img {
    filter: brightness(0.8)
    
}
.search_sec .search_form .search_down .recomed_gallery .txt {
    margin-left:15px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.search_sec .search_form .search_down .recomed_gallery .txt strong {
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
}

.search_sec .search_form .search_down .recomed_gallery .txt .count {
    color: #999999;
    font-size: 15px;
    line-height: 1;
    margin-top: 12px;
}


.search_sec .search_form .search_down .recomed_expert {
    display: flex;
    flex-wrap: wrap;
}
.search_sec .search_form .search_down .recomed_expert li {
    width: 50%;
}
.search_sec .search_form .search_down .recomed_expert li:nth-child(n+3) {
    margin-top:20px ;
}
.search_sec .search_form .search_down .recomed_expert .exp_img {
    display: block;
    width: 54px; height: 54px;
    flex: 0 0 auto;
    background: no-repeat center / cover;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    flex: 0 0 auto;
    margin-right:15px ;
}
.search_sec .search_form .search_down .recomed_expert .exp_name {
    line-height: 1.3;
    font-size: 17px;
    font-weight: 500;
}


.list_head {
    padding: 30px 0;
}
.list_head .filter_down {
    display: flex;
    align-items: center;
    padding:0 20px ;
    line-height: 48px;
    border: 1px solid #dedede;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.3s;
}
.list_head .filter_down i {
    display: block;
    width: 24px; height: 24px;
    background: no-repeat center;
    background-image: url(../img/btn/more_filter.png);
    margin-right: 8px;
    transition: all 0.3s;
}
.list_head .filter_down.open {
    border-color: #40b249;
    background: #edf7ee;
    color: #40b249;
}
.list_head .filter_down.open i{
    transform: rotate(-180deg);
    background-image: url(../img/btn/more_filter_on.png);
}
 .filter_sel_wrap {
    display: flex;
    align-items: center;
}
.filter_sel_wrap .filter_sel {
    width: calc(33.333% - 20px);
}
.filter_sel_wrap .filter_sel:not(:first-child) {
    margin-left: 30px;
}
.filter_sel_wrap .filter_sel.big .now_btn {
    width: 100%;
    font-size: 18px;
    padding: 0 20px;
}
.filter_sel_wrap .filter_sel.big .now_btn span {
    font-size: 18px;
}
.filter_sel_wrap .filter_sel.big .now_btn em {
    font-size: 16px;
    color: #999999;
}
.filter_sel.big ul li {
    padding: 0 20px;
}
.filter_sel.big ul li span {
    font-size:18px ;
}
.filter_sel.big ul li em{
    font-size: 16px ;
    color: #999999;
}
.filter_sel.big ul li.on i {
    width: 24px; height: 24px;
    background-image: url(../img/btn/filter_check_big.png);
}
.filter_sel.big ul li.on span {
    font-weight: 500;
}
.filter_sel.big ul li.on em {
    color: #90c494;
}



.sub .gallery_sec {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}
.sub  .gallery_sec .gallery_tab {
    margin-left: 40px;
}

.recommend_sec {
    padding-top: 90px;
    margin-top: 90px;
    border-top: 1px solid #eeeeee ;
}

.recommend_sec .category_list a {
    position: relative;
}
.recommend_sec .category_list .cover_img{
    padding-top: 100%;
    filter: brightness(0.7);
    border-radius: 10px;
    overflow: hidden;
}
.recommend_sec .category_list .cate_ttl{
    font-size:26px ;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 30px);
    text-align: center;
}

.recommend_sec .category_list .hov_box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%; height: 100%;
    background: rgba(0,0,0,.65);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}
.recommend_sec .category_list a:hover .cate_ttl  {
    display: none;
}

.recommend_sec .category_list a:hover .hov_box  {
    z-index: 10;
    opacity: 1;
    border-radius: 10px;
}
.recommend_sec .category_list .cover_img img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.recommend_sec .category_list a:hover img {
    transform:translate(-50%, -50%) scale(1.08);
}

.recommend_sec .category_list .hov_box .wish_btn {
    display: flex;
    align-items: center;
    background:#ffffff ;
    border-radius: 10px;
    line-height: 34px;
    border: none;
    font-size:14px ;
    font-family: 'Lato';
    font-weight: 700;
    color: #cfcfcf;
    padding: 0 12px;
    position: absolute;
    top: 15px; right: 15px;
}
.recommend_sec .category_list .hov_box .wish_btn i {
    display: block;
    width: 16px; height: 14px;
    background: no-repeat center /cover;
    background-image: url(../img/btn/wish_btn.png);
    margin-right:6px ;
}
.recommend_sec .category_list .hov_box .wish_btn.on {
    color: #f33f3f;
}
.recommend_sec .category_list .hov_box .wish_btn.on i {
    background-image: url(../img/btn/wish_btn_on.png);
    
}
.recommend_sec .category_list .hov_box .count {
    font-size:26px ;
    font-weight: 700;
    color: #ffffff;
}



/* --------------------- hot_expert_sec */

.exp_page .img_cont figure {
    padding-top: 68%;
    border-radius: 10px;
    overflow: hidden;
}
.exp_page .img_cont  img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.exp_page .img_cont:hover img {
    transform:translate(-50%, -50%) scale(1.08);
}
.exp_page .exp_info {
    margin-top:20px ;
}
.exp_page .exp_info .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.exp_page .exp_info .top a {
    display: flex;
    align-items: center;
    width: calc(100% - 86px );
}
.exp_page .exp_info .top .exp_img {
    display: block;
    width: 60px; height: 60px;
    background: no-repeat center / cover;
    border-radius: 50%;
    border: 1px solid  #eeeeee;
    margin-right: 14px;
}
.exp_page .exp_info .top .exp_name {
    display: block;
    font-size:20px ;
    font-weight: 500;
    line-height: 1;
}
.exp_page .exp_info .top .company {
    display: block;
    font-size:16px ;
    font-weight: 400;
    color: #757575;
    margin-top:8px ;
    line-height: 1;
}

.exp_page .exp_info .info_btn {
    display: flex;
}
.exp_page .exp_info .info_btn a {
    display: block;
    width: 38px; height: 38px;
    border: 1px solid  #dbdbdb;
    border-radius:6px ;
    background: no-repeat center;
    transition: all 0.3s;
}
.exp_page .exp_info .info_btn a:hover {
    border-color: #40b249;
}
.exp_page .exp_info .info_btn a + a {
    margin-left:10px ;
}
.exp_page .exp_info .info_btn a.home_btn {
    background-image: url(../img/btn/exp_home.png);
}
.exp_page .exp_info .info_btn a.home_btn:hover{
    background-image: url(../img/btn/exp_home_on.png);
}
.exp_page .exp_info .info_btn a.note_btn {
    background-image: url(../img/btn/exp_note.png);
}
.exp_page .exp_info .info_btn a.note_btn:hover{
    background-image: url(../img/btn/exp_note_on.png);
}
.exp_page .exp_info .info_btn a.wish_btn {
    background-image: url(../img/btn/exp_wish.png);
}
.exp_page .exp_info .info_btn a.wish_btn:hover{
    background-image: url(../img/btn/exp_wish_on.png);
}

/* .in_slider , */
#hot_ex_slider {
    overflow: visible;
}
#hot_ex_slider::after {
    content: '';
    display: block;
    width: 100%;height: 110%;
    background: #fff;
    position: absolute;
    top: 50%; left: -100%;
    transform: translateY(-50%);
    z-index: 90;
}
#hot_ex_slider::before {
    content: '';
    display: block;
    width: 100%;height:110%;
    background: #fff;
    position: absolute;
    top: 50%; right: -100%;
    transform: translateY(-50%);
    z-index: 90;
}


.hot_expert_sec .btn_box {
    margin-left: auto;
    z-index: 90;
    display: flex;
    /* align-items: center;
    position: absolute;
    top: -90px; right: 0; */
}
.hot_expert_sec .btn_box .sw_btn {
    display: block;
    width: 40px; height: 40px;
    background: no-repeat center;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    font-size: 0; color: transparent;
}
.hot_expert_sec .btn_box .sw_btn.swiper-prev {
    background-image: url(../img/btn/hot_prev.png);
}
.hot_expert_sec .btn_box .sw_btn.swiper-next {
    background-image: url(../img/btn/hot_next.png);
}

.hot_expert_sec .btn_box .sw_btn + .sw_btn {
    margin-left: 10px;
}
.in_slider {
    padding-bottom:60px ;
}
.in_slider .wish_btn {
    display: flex;
    align-items: center;
    border: none;
    margin-top:14px ;
    margin-left: 74px;
}
.in_slider .wish_btn span {
    font-size: 14px;
    color: #cfcfcf;
    font-family: 'Lato';
}
.in_slider .wish_btn i {
    display: block;
    width: 16px; height: 14px;
    background: no-repeat center;
    background-image: url(../img/btn/wish_btn.png);   
    margin-right:4px ;
}
.in_slider .wish_btn.on span {
    color: #f56767;
    font-weight: 700;
}
.in_slider .wish_btn.on i {
    background-image: url(../img/btn/wish_btn_on.png);   
}

.in_slider .swiper-pagination-bullet {
    margin: 0 5px !important;
}
.in_slider .swiper-pagination-bullet-active {
    background: #1c1e2a !important;
}
.in_slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #babbbf;
    opacity: 1;
}


.exp_cont_sec {
    padding-top: 74px;
    margin-top: 80px;
    border-top: 1px solid #eeeeee ;
}
.exp_cont_sec:last-child  {
    padding-bottom: 90px;
    border-bottom : 1px solid #eeeeee ;
}
.exp_cont_sec.more_sec {
    border: none;
    padding: 0;
    margin-top: 0;
}
.exp_peo_list  li{ 
    display: flex;
}
.exp_peo_list  li  + li {
    margin-top: 40px;
}
.exp_peo_list  li .num {
    font-size:40px ;
    font-family: 'Pretendard';
    font-family: 700;
    display: block;
    margin-top: 28px;
    line-height: 1;
    width: 65px;
    padding-left: 6px;
}
.exp_peo_list  li .exp_info {
    margin-top:16px;
}
.exp_peo_list .exp_info .top {
    flex-direction: column;
    align-items: flex-start;
}
.exp_peo_list .exp_info .top > a {
    width: 100%;
}
.exp_peo_list .exp_info .top .info_btn {
    margin-top:14px ;
    margin-left: 72px;
}
.exp_peo_list  li .go_user {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.exp_peo_list  li .go_user .cover_img {
    width: 140px; height: 140px;
    border-radius: 10px;
    position: relative;
}
.exp_peo_list  li .go_user .cover_img img {
    border-radius: 10px;
}
.exp_peo_list  li .go_user .cover_img + .cover_img {
    margin-left:20px ;
}
.exp_peo_list  li .go_user .cover_img .txt {
    width: 100%; height: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.exp_peo_list  li .go_user .cover_img .txt  * {
    color: #fff;
    line-height: 1;
}
.exp_peo_list  li .go_user .cover_img .txt b {
    font-size:32px ;
    font-family: 'Pretendard';
    font-family: 700;
}
.exp_peo_list  li .go_user .cover_img .txt em {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:15px ;
    font-weight: 500;
    margin-top: 16px;
}
.exp_peo_list  li .go_user .cover_img .txt em i {
    display: block;
    width: 8px; height: 12px;
    background: no-repeat center;
    background-image: url(../img/btn/more_user_view.png);
    margin-left: 7px;
    margin-top: 1px;
} 

/* ---------------------------- 전문가 뷰 */
.pro_sec {
    display: flex;
}

.pro_sec > div {
    width: 50%;
}
.pro_sec .pro_profile {
    display: flex;
}

.pro_sec .img_pos {
    display: block;
    position: relative;
    margin-right: 40px;
}
.pro_sec .pro_img .cover_img {
    width: 130px; height: 130px;
    border-radius: 50%;
    border: 1px solid #eeeeee ;
    overflow: hidden;
}
.pro_sec .pro_img .lv_ico_box {
    position: absolute;
    bottom: 0; right: -8px;
}
.pro_sec .pro_img .lv_ico_box .lv_ico{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px; height: 48px;
    border:  4px solid #fff;
    border-radius: 50%;
}
.pro_sec .pro_img .lv_ico_box .lv_1 {
    background-image: -moz-linear-gradient( -59deg, rgb(255,175,72) 0%, rgb(255,144,0) 100%);
    background-image: -webkit-linear-gradient( -59deg, rgb(255,175,72) 0%, rgb(255,144,0) 100%);
    background-image: -ms-linear-gradient( -59deg, rgb(255,175,72) 0%, rgb(255,144,0) 100%);
}
.pro_sec .pro_img .lv_ico_box .lv_2 {
    background-image: -moz-linear-gradient( -59deg, rgb(198,198,198) 0%, rgb(166,166,166) 100%);
    background-image: -webkit-linear-gradient( -59deg, rgb(198,198,198) 0%, rgb(166,166,166) 100%);
    background-image: -ms-linear-gradient( -59deg, rgb(198,198,198) 0%, rgb(166,166,166) 100%);
}
.pro_sec .pro_img .lv_ico_box .lv_3 {
    background-image: -moz-linear-gradient( -59deg, rgba(253,212,76,0.99608) 0%, rgb(207,146,0) 100%);
    background-image: -webkit-linear-gradient( -59deg, rgba(253,212,76,0.99608) 0%, rgb(207,146,0) 100%);
    background-image: -ms-linear-gradient( -59deg, rgba(253,212,76,0.99608) 0%, rgb(207,146,0) 100%);
}
.pro_sec .pro_img .lv_ico_box .lv_4 {
    background-image: -moz-linear-gradient( -59deg, rgba(255,145,181,0.99608) 0%, rgb(253,76,135) 100%);
    background-image: -webkit-linear-gradient( -59deg, rgba(255,145,181,0.99608) 0%, rgb(253,76,135) 100%);
    background-image: -ms-linear-gradient( -59deg, rgba(255,145,181,0.99608) 0%, rgb(253,76,135) 100%);
}
.pro_sec .pro_img .lv_ico_box .lv_5 {
    background-image: -moz-linear-gradient( -59deg, rgba(115,138,255,0.99608) 0%, rgb(55,88,255) 100%);
    background-image: -webkit-linear-gradient( -59deg, rgba(115,138,255,0.99608) 0%, rgb(55,88,255) 100%);
    background-image: -ms-linear-gradient( -59deg, rgba(115,138,255,0.99608) 0%, rgb(55,88,255) 100%);
}

.pro_sec .pro_img .lv_ico_box .lv_ico i {
    display: block;
    width:18px ; height: 17px;
    background: no-repeat center;
    background-image: url(../img/btn/big_star.png);
}
.pro_sec .pro_img .lv_ico_box .lv_score {
    background: #252525;
    display: flex;
    align-items: center;
    padding:13px 17px;
    border-radius: 10px;
    position: absolute;
    top: 50%; right: -100px;
    transform: translateY(-50%);
    display: none;
}
.pro_sec .pro_img .lv_ico_box .lv_score.on {
    display: flex;
}

.pro_sec .pro_img .lv_ico_box .lv_score::after {
    content: '';
    display: block;
    width: 8px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    background: no-repeat center;
    background-image: url(../img/btn/hov-after.png);
}
.pro_sec .pro_img .lv_ico_box .lv_score i {
    display: block;
    width: 12px; height: 11px;
    background: no-repeat center;
    background-image: url(../img/btn/sm_star.png);
}
.pro_sec .pro_img .lv_ico_box .lv_score  span {
    color: #fff;
    font-family: 'Pretendard'; 
    font-weight: 700;
    margin-left: 6px;
}
.pro_sec .pro_info_wrap  {
    margin-top:24px ;
    width: 100%;
    padding-right: 22px;
}
.pro_sec .pro_info_wrap .name {
    display: block;
    font-size:30px ; font-weight: 700;
    line-height: 1;
}
.pro_sec .pro_info_wrap .company {
    display: block;
    font-size:18px ; 
    color: #757575;
    margin-top: 14px;
    line-height: 1;
}
.pro_sec .pro_info_wrap .info_btn {
    margin-top: 22px;
}
.pro_sec .pro_info_wrap .info_btn button {
    font-size: 16px;
    color: #454545;
    width: calc(33.333% - 6.6666px);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    border-radius: 6px; 
    line-height: 38px;
}
.pro_sec .pro_info_wrap .info_btn button:last-child {
    margin-right: 0;
}
.ev_user_info .info_btn button i,
.pro_sec .pro_info_wrap .info_btn button i {
    display: block;
    width:22px ; height: 22px;
    background: no-repeat center;
    margin-right: 6px;
}
.ev_user_info .info_btn .note_btn i,
.pro_sec .pro_info_wrap .info_btn button.note_btn i  {
    background-image: url(../img/btn/exp_note.png);
}
.ev_user_info .info_btn .mark_btn i,
.pro_sec .pro_info_wrap .info_btn button.mark_btn i  {
    background-image: url(../img/btn/exp_mark.png);
}
.pro_sec .pro_info_wrap .info_btn button.profile_btn i  {
    background-image: url(../img/btn/exp_profile.png);
}
.ev_user_info .info_btn .share_btn i {
    background-image: url(../img/btn/exp_share.png);
}

.pro_sec .pro_info_wrap .gray_box {
    margin-top:24px ;
    padding:15px 20px ;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    background:#f9f9f9 ;
    border-radius:6px ;
    min-height: 110px;
}
.pro_sec .pro_info_wrap .gray_box P {
    line-height: 1.5;
    font-size: 18px;
    color: #454545;
}
.pro_sec .pro_info_wrap .sns_area {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.pro_sec .pro_info_wrap .sns_area li + li {
    margin-left: 10px;
}
.pro_sec .pro_info_wrap .sns_area li a {
    display: block;
    width: 41px; height: 41px;
    background: no-repeat center;
    transition: all 0.3s;
}
.pro_sec .pro_info_wrap .sns_area li a.naver_cafe {
    background-image: url(../img/btn/sns_naver_cafe.png);
} 
.pro_sec .pro_info_wrap .sns_area li a.naver_cafe:hover {
    background-image: url(../img/btn/sns_naver_cafe_on.png);
} 

.pro_sec .pro_info_wrap .sns_area li a.naver_blog {
    background-image: url(../img/btn/sns_naver_blog.png);
} 
.pro_sec .pro_info_wrap .sns_area li a.naver_blog:hover {
    background-image: url(../img/btn/sns_naver_blog_on.png);
} 

.pro_sec .pro_info_wrap .sns_area li a.daum_cafe {
    background-image: url(../img/btn/sns_daum_cafe.png);
} 
.pro_sec .pro_info_wrap .sns_area li a.daum_cafe:hover {
    background-image: url(../img/btn/sns_daum_cafe_on.png);
} 

.pro_sec .pro_info_wrap .sns_area li a.daum_blog {
    background-image: url(../img/btn/sns_daum_blog.png);
} 
.pro_sec .pro_info_wrap .sns_area li a.daum_blog:hover {
    background-image: url(../img/btn/sns_daum_blog_on.png);
} 

.pro_sec .pro_info_wrap .sns_area li a.facebook {
    background-image: url(../img/btn/sns_facebook.png);
} 
.pro_sec .pro_info_wrap .sns_area li a.facebook:hover {
    background-image: url(../img/btn/sns_facebook_on.png);
} 

.pro_sec .pro_info_wrap .sns_area li a.twitter {
    background-image: url(../img/btn/sns_twitter.png);
} 
.pro_sec .pro_info_wrap .sns_area li a.twitter:hover {
    background-image: url(../img/btn/sns_twitter_on.png);
} 

.pro_sec .pro_info_wrap .sns_area li a.insta {
    background-image: url(../img/btn/sns_insta.png);
} 
.pro_sec .pro_info_wrap .sns_area li a.insta:hover {
    background-image: url(../img/btn/sns_insta_on.png);
} 

.pro_sec .pro_info_wrap .sns_area li a.pinterest {
    background-image: url(../img/btn/sns_pinterest.png);
} 
.pro_sec .pro_info_wrap .sns_area li a.pinterest:hover {
    background-image: url(../img/btn/sns_pinterest_on.png);
} 

.pro_sec .company_list {
    border-left: 1px solid #eeeeee ;
    padding-left:60px ;
    margin-left:40px ;
    padding-top: 25px;
}
.pro_sec .company_list h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 35px;
}   
.pro_sec .company_list .com_peo_list {
    max-height: 260px;
    height: 100%;
    overflow: auto;
}
.pro_sec .company_list .com_peo_list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #f2f2f2
}

.pro_sec .company_list .com_peo_list::-webkit-scrollbar-thumb {
    background: #40b249;
    border-radius: 50px;
}

.sm_list .cover_img {
    width:60px !important ; height: 60px !important;
}
.sm_list a {
    display: flex;
    align-items: center;
}
.sm_list + li {

}
.com_peo_list .sm_list a {
    padding: 20px;
    max-width: 460px;
    border-radius: 6px;
    border: 1px solid transparent;
}
.com_peo_list .sm_list a:hover {
    background: #ecf6ed;
    border-color: #40b249;

}
.sm_list .pro_img {
    margin-right: 20px;
}
.sm_list .name {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom:10px ;
    line-height: 1;
}
.sm_list .company {
    font-size: 15px;
    color:#757575 ;
    display: block;
    line-height: 1;
} 

.pro_sec + .img_gallery_sec {
    margin-top: 60px;
}

.user_activity_top .flex_b_c{
    border-bottom: 1px solid #454545;
    padding-bottom: 16px;
}

.user_activity_top .sub_page_ttl {
    margin-bottom: 0;
}
.user_activity_top .user_tab {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.user_activity_top .user_tab li {
    margin-right: 10px;
}
.user_activity_top .user_tab li button {
    font-size:18px ;
    font-weight: 500;
    padding:0 28px ;
    line-height:48px ;
    display: flex;
    border-radius: 10px;
}
.user_activity_top .user_tab li button em {
    color: #757575;
    font-weight: 400;
    margin-left: 4px;
}
.user_activity_top .user_tab li.on  button{
    background: #e8f5e9;
    border-color: #40b249;
    color: #40b249;
}
.user_activity_top .user_tab li.on  button em {
    color: #85ba89;
}

/* ---------------------------------------- 자재 */
.sub_visual {
    background: no-repeat center / cover;
    background-image: url(../img/sub/event_sub_visual.png);
    min-height:300px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_visual h2 {
    font-size: 42px;
    color: #fff;
}
/* 자재 이벤트 */
.ev_banner {
    margin-top: -130px;
    position: relative;
}
.ev_banner a {
    position: absolute;
    bottom: 26px; right: 26px;
    display: flex;
    padding: 0 30px;
    background:rgba(0,0,0,.7) ;
    color: #fff;
    border-radius: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
}
.ev_user_info {
    margin-top: 30px;
}

.event .info_btn button {
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 38px;
    border-radius: 6px;
}
.event .info_btn button + button {
    margin-left: 10px;
}
.event .info_btn button i {
    margin-right: 7px;
}
.event .info_btn button.share_btn{
    border-color:#40b249 ;
    color: #fff;
    background: #40b249;
}
.event .item_list_wrap {
    padding-top: 50px;
    margin-top: 40px;
    border-top: 1px solid #eeeeee ;
}
.event .item_list_wrap .list_num {
    margin-bottom: 20px;
    font-size:18px ;
    color: #757575;
}
.event .item_list_wrap .list_num b{
    font-size:18px ;
    color: #252525;
}


.event_main .sec_ttl_box {
    padding:80px 0  50px;
}
.event_list_wrap .item_list_wrap {
    border: none;
    margin-top: 0;
    padding-top: 28px;
}












































